<form class="well">
  <div class="form-group">
    <label>Måndag 1/9</label>
    <input type="number" class="form-control" value="8" min="0" max="24"/>
  </div>
  <div class="form-group">
    <label>Tisdag 2/9</label>
    <input type="number" class="form-control" value="8" min="0" max="24"/>
  </div>
  <div class="form-group">
    <label>Onsdag 3/9</label>
    <input type="number" class="form-control" value="8" min="0" max="24"/>
  </div>
  <div class="form-group">
    <label>( Torsdag 4/9 )</label>
    <input type="number" class="form-control" value="8" min="0" max="24"/>
  </div>
  <div class="form-group">
    <label class="red">Fredag 5/9</label>
    <input type="number" class="form-control" value="8" min="0" max="24"/>
  </div>
  <button type="submit" class="btn btn-primary pull-right">Rapportera</button><br />
</form>
